<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eLearning</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body ng-app="eLearning" ng-controller="home">
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">eLearning</a>
            </div>
            <div id="searchContainer">
                <input class="form-control" type="text" name="search" id="searchBar" placeholder="Search for a course" /><button id="searchBtn"></button>
                <label id="searchLabel" for="searchBar">Search for a course:</label>
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="" data-toggle="modal" data-target="#signInModal">Sign in</a></li>
                    <li><a href="" data-toggle="modal" data-target="#signUpModal">Sign up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - eLearning</p>
        </footer>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"
                asp-fallback-src="~/lib/angular/angular.min.js"
                asp-fallback-test="window.angular">
        </script>
    </environment>

    @RenderSection("scripts", required: false)

    <div class="modal fade" id="signUpModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header navbar navbar-inverse">
                    <button type="button" class="close" data-dismiss="modal" ng-click="clearSignUpData()">&times;</button>
                    <h4 class="modal-title">Sign up</h4>
                </div>
                <form ng-submit="signUp()">
                    <div class="modal-body">
                        <label for="signUpFirstName" class="block-label">Enter  first name:</label>
                        <input type="text" class="form-control signUp-input" placeholder="i.e. John" name="FirstName" ng-model="signUpFirstName" ng-change="signUpValidateField('signUpFirstName')" id="signUpFirstName" /><div class="error" id="signUpFirstNameError"></div>
                        <label for="signUpLastName" class="block-label">Enter last name:</label>
                        <input type="text" class="form-control signUp-input" placeholder="i.e. Doe" name="Lastname" ng-model="signUpLastName" ng-change="signUpValidateField('signUpLastName')" id="signUpLastName" /><div class="error" id="signUpLastNameError"></div>
                        <label for="signUpEmail" class="block-label">Enter email:</label>
                        <input type="text" class="form-control signUp-input" placeholder="i.e. john@gmail.com" name="Email" ng-model="signUpEmail" ng-change="signUpValidateField('signUpEmail')" id="signUpEmail" /><div class="error" id="signUpEmailError"></div>
                        <label for="signUpPassword" class="block-label">Enter password:</label>
                        <input type="password" class="form-control signUp-input" placeholder="i.e. ******" name="Password" ng-model="signUpPassword" ng-change="signUpValidateField('signUpPassword')" id="signUpPassword" /><div class="error" id="signUpPasswordError"></div>
                        <label for="signUpRePassword" class="block-label">Re-enter password:</label>
                        <input type="password" class="form-control signUp-input" placeholder="i.e. ******" name="RePassword" ng-model="signUpRePassword" ng-change="signUpValidateField('signUpRePassword')" id="signUpRePassword" /><div class="error" id="signUpRePasswordError"></div>
                    </div>
                    <div class="modal-footer">
                        <div class="error" id="signUpError"></div><button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="modal fade" id="signInModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header navbar navbar-inverse">
                    <button type="button" class="close" data-dismiss="modal" ng-click="clearSignInData()">&times;</button>
                    <h4 class="modal-title">Sign in</h4>
                </div>
                <form ng-submit="signIn()">
                    <div class="modal-body">
                        <label for="signInEmail" class="block-label">Enter email:</label>
                        <input type="text" class="form-control signIn-input" placeholder="i.e. john@gmail.com" name="Email" ng-model="signInEmail" ng-change="signInValidateField('signInEmail')" id="signInEmail" /><div class="error" id="signInEmailError"></div>
                        <label for="signInPassword" class="block-label">Enter password:</label>
                        <input type="password" class="form-control signIn-input" placeholder="i.e. ******" name="Password" ng-model="signInPassword" ng-change="signInValidateField('signInPassword')" id="signInPassword" /><div class="error" id="signInPasswordError"></div>
                    </div>
                    <div class="modal-footer">
                        <div class="error" id="signInError"></div><button type="submit" class="btn btn-success">Sign in</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="modal fade" id="signInSuccessModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div id="signUpSuccess">
                    <h3>You have successfully signed up!</h3>
                    <p>In order to get the full experience, please sign in.</p>
                </div>
            </div>
              
         </div>
     </div>

</body>
</html>
