body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 400px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

#navbar {
    height: 50px;
}

#greetingContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgb(107,186,112); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(107,186,112,1) 0%, rgba(107,186,112,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#6bba70',GradientType=0 ); /* IE6-9 */
    border-radius: 0;
    border: 1px solid green;
    text-align:center;
    color: whitesmoke;
    padding-bottom: 50px;
}

#basicCourseContainer {
    margin: auto;
    margin-bottom: 50px;
    padding-top: 50px;
    width: 908px;
}

#basicCourseContainer > img {
    margin-right: 50px;
    margin-left: 50px;
}

#searchLabel {
    position: relative;
    left: -9999px;
    display: inline;
}

#indexCourseTitle {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    color: whitesmoke;
    border-radius: 0;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top, #3b679e 0%, #2b88d9 27%, #207cca 75%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3b679e 0%,#2b88d9 27%,#207cca 75%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3b679e 0%,#2b88d9 27%,#207cca 75%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

#searchBar {
    display: inline-block;
    padding-right: 30px;
}

#searchBtn {
    left: -30px;
    top: -4px;
    position: relative;
    border: none;
    width: 24px;
    height: 24px;
    background: url('../images/search-icon.png') no-repeat;
}

#searchContainer {
    display: inline-block;
    margin-left: 30%;
    margin-top: 8px;
    height: 50px;
}

.modal-title {
    color: whitesmoke;
}

.close {
    color: whitesmoke;
}

.close:hover {
    color: white;
}

.error {
    display: inline-block;
    margin-left: 10px;
    color: red;
}

.block-label {
    display: block;
}

.signUp-input, .signIn-input, .settings-input {
    display: inline-block;
}

.hasError {
    border-color: red;
}

#signInError, #signUpError {
    float: left;
}

#signUpSuccess {
    text-align: center;
    color: forestgreen;
}

#oldPasswordLabel,#newPasswordLabel, #confirmPasswordLabel {
    font-size: 10px;
}

.change-btn {
    height: 34px;
    color: whitesmoke;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: top;
}

#settingsFirstName, #settingsLastName, #settingsOldPassword, #settingsNewPassword, #settingsRePassword {
    width: 216px;
}

#deactivateBtn {
    border-style: none;
    border: 1px solid #e50000;
    border-radius: 4px;
    background: #e50000;
    color: whitesmoke;
    height: 34px;
}

.successBtn {
    background:  rgba(107,186,112,1);
    border: 1px solid  rgba(107,186,112,1);
    pointer-events: none;
}

#deactivateDecisionContainer {
    height: 34px;
}

.deactivate-decision-btn {
    border-style: none;
    width: 40px;
    height: 26px;
    color: whitesmoke;
}

#positiveDeactivateDecisionBtn {
    border: 1px solid #e50000;
    border-radius: 4px;
    background: #e50000;
}

#negativeDeactivateDecisionBtn {
    line-height: 0;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: top;
}

#createCourseContainer, #readCourseContainer {
    border: 1px solid #e5e5e5;
    margin-top: 50px;
    min-height: 750px;
    overflow: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

#createCourseTitleContainer, #courseNameContainer {
    background: rgba(107,186,112,1);
    height: 50px;
    color: whitesmoke; 
    margin-bottom: 7px;
}

#createCourseTitle, #courseName {
    font-size: 24px;
    line-height: 2;
    margin-left: 10px;
    margin-top: 0px;
}

#createFormContainer {
    color: #222;
}

textarea {
    resize: none;
    display: block;
}

#debug{
    color:black;
}

input:required {
    box-shadow:none;
}

.ng-invalid.ng-touched {
    border: 1px solid red;
}

input[type=file].ng-invalid.ng-touched {
    border: inherit;
}

legend {
    text-align: center;
}

fieldset {
    padding-left: 0!important;
    padding-right: 0!important;
    
    margin-left: 0!important;
}

.fieldset-elements {
    max-height: calc(100vh - 455px);
    min-height: 340px !important;
    overflow-y: auto;
}

fieldset ul {
    list-style: none;
}

.repeated-container {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.repeated-small-container, .repeated-smallest-container {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding-bottom: 10px;  
}

.repeated-smallest-container {
   word-break: break-all;
}

.create-error {
    color: red;
}

#createError {
    text-align: center;
}

#addAnswerBtn {
    float: right;
}

#createSubmitBtnWrapper {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.is-correct-checkbox {
    margin-left: 10px!important;
}

.repeated-container .close, .repeated-small-container .close, .repeated-smallest-container .close {
    color: #222;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#subscriptionContainer {
    float: right;
    margin-top: 10px;
}

#subscribeBtn, #unsubscribeBtn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#subcsribeError {
    width: 75px!important;
    position: relative!important;
}

#subscriberCount {
   color: whitesmoke;
   text-align: center;
   height: 100%;
   margin-left: 10px;
}

#courseNameContainer {
    margin-bottom: 0px;
}

#courseDescriptionContainer {
    display: inline-block;
    color: whitesmoke;
    padding: 10px;
    max-width: 80%;
    margin-left: 10px;
}

#lessonContainerTitle, #exerciseContainerTitle {
    text-align: center;
    font-size: 20px; 
}

#exerciseContainerTitle {
    margin-top: 20px;
}

.lesson-element, .exercise-element {
    border: 1px solid #e5e5e5;
    margin-top: 20px;
    padding: 0;
}
.lesson-number, .exercise-number {
    display: inline-block;
    float:left;
    margin-left: 0;
    width: 20px;
    text-align: center;
}

.lesson-name-container, .exercise-name-container {
    padding-left: 30px;
    min-height: 30px;
    font-weight: bold;
}

.lesson-description-container, .exercise-description-container {
    min-height: 20px;
}

.view-btn, .solve-btn {
    float: right;
    margin: 5px;
}

#subscriberCount {
    min-width: 79px;
}

#resourceDisplayContainer {
    min-width: 640px;
    min-height: 800px;
    display:block; 
    margin:auto;
    background: gray;
}

#resourceDisplay {
    min-width: 600px;
    min-height: 800px;
    width: calc(100% - 40px);
    height: 100%;
    display:block; 
    margin:auto; 
}



.unclickable {
    pointer-events: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#sideMenu {
    position: fixed;
    margin-left: 2px;
    min-height: 200px;
    width: 150px;
    max-height: 50vh;
    color: gray;
    top: 25%;
}

#myCourseContainer, #subscribedCourseContainer {
    max-height: 23vh;
}

#myCoursesTitle, #subscribedCoursesTitle {
    text-align: center;
    border-bottom: 1px solid gray;
    font-size: 16px;
    margin-left: 0;
    word-break: break-word;
    color: whitesmoke; 
    background: #151414;
    padding: 10px 15px;
    width: 100%;
}

.course-list-container {
    overflow-y: auto;
    max-height: calc(23vh - 40px);
}

.course-list {
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
}
#createLink, .my-course-element, .subscribed-course-element {
    text-decoration: none;
    display: block;
    font-weight: normal;
    width: 100%;
}


.my-course-element, .subscribed-course-element {
    border-radius: 0!important;
    border: none;
    border-bottom: 1px solid gray;
    background: #222;
    margin-bottom: 0;
    overflow: hidden;
    padding: 5px 5px;
}

.my-course-element a, .subscribed-course-element a {
    text-decoration: none;
    color: #9d9d9d;
}

.my-course-element a:hover, .subscribed-course-element a:hover {
    color: whitesmoke;
}

#createLink {
    text-align: center;
    font-size: 16px;
    position: absolute;
    bottom: -40px;
    left: 0;
    background: #151414;
    height: 40px!important;
    line-height: 0.5;
}
