<div class="well-lg" id="greetingContainer">
    <h1>Welcome to Zvone's eLearning.</h1>
    <h2>This is the perfect place to learn web technologies.</h2>
    <p>Choose one of 3 basic courses or search for user made courses.</p>
    <p>Create your own courses, subscribe to courses and solve exercises they provide!</p>
</div>
<div id="indexContentContainer">
    <div id="indexCourseTitle" class="navbar"><h3>Basic courses</h3></div>
    <div id="basicCourseContainer">
        <img src="~/images/html5.png" />
        <img src="~/images/js-logo.png" />
        <img src="~/images/css3.jpg" />
    </div>
</div>
