<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eLearning</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body ng-app="eLearning" ng-controller="home">
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">eLearning</a>
            </div>
            <div id="searchContainer">
                <input class="form-control" type="text" name="search" id="searchBar" placeholder="Search for a course" /><button id="searchBtn"></button>
                <label id="searchLabel" for="searchBar">Search for a course:</label>
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href=""  data-toggle="modal" data-target="#signinModal">Sign in</a></li>
                    <li><a  href="" data-toggle="modal" data-target="#signupModal">Sign up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - eLearning</p>
        </footer>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"
                asp-fallback-src="~/lib/angular/angular.min.js"
                asp-fallback-test="window.angular">
        </script>
    </environment>

    @RenderSection("scripts", required: false)

    <div class="modal fade" id="signupModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header navbar navbar-inverse">
                    <button type="button" class="close" data-dismiss="modal" ng-click="clearSignupData()">&times;</button>
                    <h4 class="modal-title">Sign up</h4>
                </div>
                <form ng-submit="signup()">
                    <div class="modal-body">
                        <label for="signupFirstName" class="block-label">Enter  first name:</label>
                        <input type="text" class="form-control signup-input" placeholder="i.e. John" name="FirstName" ng-model="signupFirstName" ng-change="signupValidateField('signupFirstName')" id="signupFirstName" /><div class="error" id="signupFirstNameError"></div>
                        <label for="signupLastName" class="block-label">Enter last name:</label>
                        <input type="text" class="form-control signup-input" placeholder="i.e. Doe" name="Lastname" ng-model="signupLastName" ng-change="signupValidateField('signupLastName')" id="signupLastName" /><div class="error" id="signupLastNameError"></div>
                        <label for="signupEmail" class="block-label">Enter email:</label>
                        <input type="text" class="form-control signup-input" placeholder="i.e. john@gmail.com" name="Email" ng-model="signupEmail" ng-change="signupValidateField('signupEmail')" id="signupEmail" /><div class="error" id="signupEmailError"></div>
                        <label for="signupPassword" class="block-label">Enter password:</label>
                        <input type="password" class="form-control signup-input" placeholder="i.e. ******" name="Password" ng-model="signupPassword" ng-change="signupValidateField('signupPassword')" id="signupPassword" /><div class="error" id="signupPasswordError"></div>
                        <label for="signupRePassword" class="block-label">Re-enter password:</label>
                        <input type="password" class="form-control signup-input" placeholder="i.e. ******" name="RePassword" ng-model="signupRePassword" ng-change="signupValidateField('signupRePassword')" id="signupRePassword" /><div class="error" id="signupRePasswordError"></div>
                    </div>
                    <div class="modal-footer">
                        <div class="error" id="signupError"></div><button type="submit" class="btn btn-primary" >Sign up</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="modal fade" id="signinModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header navbar navbar-inverse">
                    <button type="button" class="close" data-dismiss="modal" ng-click="clearSigninData()">&times;</button>
                    <h4 class="modal-title">Sign in</h4>
                </div>
                <form ng-submit="signin()">
                    <div class="modal-body">
                        <label for="signinEmail" class="block-label">Enter email:</label>
                        <input type="text" class="form-control signin-input" placeholder="i.e. john@gmail.com" name="Email" ng-model="signinEmail" ng-change="signinValidateField('signinEmail')" id="signinEmail" /><div class="error" id="signinEmailError"></div>
                        <label for="signinPassword" class="block-label">Enter password:</label>
                        <input type="password" class="form-control signin-input" placeholder="i.e. ******" name="Password" ng-model="signinPassword" ng-change="signinValidateField('signinPassword')" id="signinPassword" /><div class="error" id="signinPasswordError"></div>
                    </div>
                    <div class="modal-footer">
                        <div class="error" id="signinError"></div><button type="submit" class="btn btn-success" >Sign in</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    
</body>
</html>
